{% import "../templates/mixins.njk" as mixins %}

{% include "head.njk" %}
{% include "nav-with-progress.njk" %}

<div class="container main">
  {% include "steps-trail.njk" %}

  <div class="main__content main__content--center">
    <h2 class="section-title">Dope - Choose Your Style Podcast</h2>

    <div id="accordion">
      {% set active = false %}
      {% include "publish-settings.njk" %}
      {% set active = true %}
      {% include "video-settings.njk" %}

      <div class="btn-container">
        <button class="btn btn--white">Cancel</button>
        <button class="btn btn--blue">Save Settings</button>
      </div>
    </div>
  </div>
</div>

{% include "footer.njk" %}
