{% import "../templates/mixins.njk" as mixins %}

{% include "head.njk" %}
{% include "nav.njk" %}

<div class="container main">
  <div class="row">

    {% set asideActiveItem = 3 %}
    {% include "aside.njk" %}

    <div class="col-lg main__content">
      <h2 class="section-title">Dope - Choose Your Style Podcast</h2>

      <div id="accordion">
        {% set active = true %}
        {% include "publish-settings.njk" %}
        {% set active = false %}
        {% include "video-settings.njk" %}

        <div class="btn-container">
          <button class="btn btn--white">Cancel</button>
          <button class="btn btn--blue">Save Settings</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "footer.njk" %}
