.podmaster-dropdown__toggle {
  font-family: November Regular, sans-serif;
  font-size: 13px;
  line-height: 1.54;
  text-align: left;
  color: #6b7e99;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:after {
    display: none;
  }
}

.podmaster-dropdown__arrow {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background-color: #f2f6fa;
  border: 1px solid #d5dbe6;
  margin-left: 5px;

  svg {
    fill: #8f9eb3;
    opacity: .8;
    width: 10px;
    height: 7px;
  }

  .podmaster-dropdown:hover & {
    border-color: #adbacc;

    svg {
      opacity: 1;
    }
  }

  .podmaster-dropdown.show & {
    background-color: #fff;
    border-color: #adbacc;

    svg {
      opacity: 1;
    }
  }
}

.podmaster-dropdown__menu {
  padding: 0;
  margin-top: 5px;
}

.podmaster-dropdown__item {
  padding: 10px 20px;
  font-family: November Regular, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: $black;
  width: 198px;

  &:not(:last-child) {
    border-bottom: 1px solid #e6e9ee; //TODO: should be global rule?
  }

  &:hover {
    background-color: #f5f7fa;
  }
}
