.podcasts {
  padding-top: 34px;
  padding-bottom: 240px;
  max-width: 1110px;
  width: 100%;
}

.podcast {
  background: #fff;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #b8c0cc;
  padding: 20px;
  margin: 10px 0 20px;

  .bootstrap-switch {
    width: 65px;
    height: 30px;
    border-radius: 20px;
    padding: 0 6px;
    border: 0;

    .bootstrap-switch-handle-off,
    .bootstrap-switch-handle-on {
      background: transparent;
      line-height: 30px;
      padding: 0 6px;
      font-family: November Regular, sans-serif;
      font-size: 13px;
      color: #ffffff;
      display: inline-flex;
    }

    .bootstrap-switch-label {
      height: 18px;
      align-self: center;
      flex: 0 0 18px;
      border-radius: 50%;
      background-color: #ffffff;
      box-shadow: 0 1px 3px 0 rgba(38, 47, 64, 0.15);
    }

    &.bootstrap-switch-on {
      background-color: #1951ff;
    }

    &.bootstrap-switch-off {
      background-color: #b8c0cc;
    }

    .bootstrap-switch-label {
      width: 18px;
      height: 18px;
      background-color: #ffffff;
      box-shadow: 0 1px 3px 0 #262e40;
    }

    .bootstrap-switch-container {
      display: flex;
      height: 100%;
    }
  }

  @include max-width(960px) {
    padding-left: 15px;
  }
}

.podcast__image {
  margin: 0;
  padding: 0;

  @include max-width(768px) {
    text-align: center;
  }
}

.podcast__content {
  padding: 0;
  padding-left: 20px;
  padding-right: 15px;
}

.podcast__title {
  margin-bottom: 6px;
  margin-top: 9px;
  font-family: November Regular, sans-serif;
  font-size: 18px;
  line-height: 1.67;
  text-align: left;
  color: #2e3a4c;
  text-decoration: none;
  display: block;

  &:hover {
    color: #1951ff;
  }
}

.podcast__text {
  margin-bottom: 15px;
  margin-top: 6px;
  font-family: November Regular, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #596980;

  a {
    color: #1951ff;
    display: inline-block;
    text-decoration: none;

    &:before {
      content: "…";
      font-family: November Regular, sans-serif;
      font-size: 14px;
      line-height: 1.43;
      text-align: left;
      color: #596980;
      text-decoration: none;
    }
  }

  .collapse.show {
    display: inline;
  }

  .collapse.show + a {
    display: none;
  }
}

.podcast__episodes {
  border-radius: 3px;
  background-color: #f3f6fa;
  font-family: November Regular, sans-serif;
  font-size: 13px;
  line-height: 1.54;
  display: inline-block;
  color: #6b7e99;
  padding: 6px 9px 4px 10px;
  margin-bottom: 0;
}

.podcast__trigers {
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding-left: 53px;
  user-select: none;

  label {
    font-family: November Regular, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    text-align: left;
    color: #263140;
    margin-right: 10px;
  }

  .dropdown {
    display: flex;
    align-items: center;

    .dropdown-menu {
      padding: 0;
      margin-top: 5px;
    }

    .dropdown-toggle {
      font-family: November Regular, sans-serif;
      font-size: 13px;
      line-height: 1.54;
      text-align: left;
      color: #6b7e99;
      cursor: pointer;
      display: flex;
      align-items: center;

      &:after {
        display: none;
      }
    }

    .dropdown-item {
      padding: 10px 20px;
      font-family: November Regular, sans-serif;
      font-size: 14px;
      line-height: 1.43;
      text-align: left;
      color: #3d4e66;
      width: 198px;

      &:not(:last-child) {
        border-bottom: 1px solid #e6e9ee; //TODO: should be global rule?
      }

      &:hover {
        background-color: #f5f7fa;
      }
    }

    .dropdown__arrow {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 4px;
      background-color: #f3f6fa;
      border: 1px solid #d5dbe6;
      margin-left: 5px;

      .fa {
        font-size: 12px;
        color: #8f9eb3;
      }
    }

    &.show .dropdown__arrow {
      background-color: #fff;
    }
  }

  @include max-width(960px) {
    padding-left: 15px;
  }
}
