.podmaster-dropdown--arrow {
  display: inline-block;
}

.podmaster-dropdown__toggle {
  font-family: November Regular, sans-serif;
  font-size: 13px;
  line-height: 1.54;
  text-align: left;
  color: #6b7e99;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:after {
    display: none;
  }
}

.podmaster-dropdown__arrow {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  min-width: 30px;
  height: 30px;
  border-radius: 3px;
  background-color: #f2f6fa;
  border: 1px solid $border-color;
  margin-left: 5px;

  svg {
    fill: #8f9eb3;
    opacity: .8;
    width: 10px;
    height: 7px;
  }

  .podmaster-dropdown:hover &,
  &:hover {
    border-color: #adbacc;
    cursor: pointer;

    svg {
      opacity: 1;
    }
  }

  .show & {
    background-color: #fff;
    border-color: #adbacc;

    svg {
      opacity: 1;
    }
  }

  .podmaster-dropdown--arrow & {
    border: 0;
    margin: 0;
    background: none;

    svg {
      width: 14px;
      height: 9px;
    }
  }
}

.podmaster-dropdown__menu {
  padding: 0;
  margin-top: 5px;
}

.podmaster-dropdown__item {
  padding: 10px 20px;
  font-family: November Regular, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: $black;
  width: 198px;

  &:first-child {
    border-radius: 4px 4px 0 0;
  }

  &:last-child {
    border-radius: 0 0 4px 4px;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #e6e9ee; //TODO: should be global rule?
  }

  &:hover {
    background-color: #f5f7fa;
  }
}

.podmaster-dropdown__item--checked {
  background-color: #f5f7fa;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    right: 19px;
    top: 50%;
    width: 8px;
    height: 6px;
    transform: translateY(-50%);
    background: url('../img/check-blue.svg') no-repeat;
  }
}
