.form-group {
  position: relative;

  label:not(.form-check-label) {
    margin-bottom: 3px;
    font-size: 13px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form-group--last-with-hint:last-child {
  margin-bottom: 25px;
}

.form-check {
  margin-bottom: 5px;
}

.form-group__title {
  font-size: inherit;
  margin-bottom: 12px;
}

.form-group__help--right {
  position: absolute;
  top: 35px;
  left: 100%;
  margin-left: 20px;
  width: 100%;
}

.form-check-input {
  display: none;
}

.form-check-label {
  padding-left: 0;
}

.form-check-input-appearance {
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  border: 1px solid #adbacc;
  background: #f2f6fa;
  position: relative;
  top: -3px;

  .form-check-input:checked + & {
    background: #fff;
    border-color: $blue-active;
  }

  .form-check-input[type='radio'] + & {
    border-radius: 50%;
  }

  .form-check-input[type='radio']:checked + &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    margin-left: -3px;
    border-radius: 50%;
    background: $blue-active;
  }

  .form-check-input[type='checkbox'] + & {
    border-radius: 3px;
  }

  .form-check-input[type='checkbox']:checked + &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 6px;
    transform: translate(-50%, -50%);
    background: url('../img/check-blue.svg') no-repeat;
  }
}

.form__switch-message {
  margin-top: 25px;
}

.form-control {
  border-color: #cad0d9;
  font-size: 14px;
  color: #2e3b4d;
}

textarea.form-control {
  resize: none;
  height: 100px;
}
