.svg-arrow-down-small {
  fill: #8f9eb3;
}

.svg-back-arrow {
  fill: #8f9eb3;
}

.svg-bell {
  fill: #8f9eb3;
}

.svg-check {
  fill: #1951ff;
}

.svg-help {
  fill: #adbacc;
}

.svg-info {
  fill: #adbacc;
}
