.link {
  font-size: 13px;
  position: relative;
  color: $blue-active;
  text-decoration: none;
  border-bottom: 1px solid #a6bcff;

  &:hover {
    border-bottom-color: transparent;
    text-decoration: none;
    color: $blue-active;
  }
}

.link--inline {
  border-bottom: 0;
  font-size: inherit;

  &:hover {
    text-decoration: underline;
  }

  .form-group & {
    font-size: 13px;
  }
}

.link--back {
  margin-left: 20px;

  &:before {
    content: '';
    position: absolute;
    margin-right: 5px;
    right: 100%;
    top: 50%;
    width: 10px;
    height: 8px;
    transform: translateY(-50%);
    background: url('../img/back-arrow.svg') no-repeat;
  }
}
