.main {
  padding-top: $content-top-padding;
  padding-bottom: 170px;
  max-width: 1110px;
  width: 100%;

  @include max-width(1024px) {
    padding-bottom: 100px;
  }

  @include max-width(767px) {
    padding-bottom: 50px;
  }
}

.main__aside {
  flex: 0 0 $aside-width + 2 * 15px; //15px - side padding for bootstrap columns
  max-width: $aside-width + 2 * 15px;
  padding-top: 9px;

  @include max-width(996px) {
    max-width: 100%;
    flex-basis: 100%;
    margin-bottom: 30px;
    padding-top: 0;
  }
}

.main__content {
  position: relative;

  @include max-width(576px) {
    min-width: 0;
    max-width: 100%;
    flex-basis: 100%;
    margin-bottom: 30px;
    padding-top: 0;
  }
}

.main__content--center {
  max-width: 800px;
  margin: 0 auto;
}
