$panel__side-padding: 20px;
$panel__side-small-padding: 10px;

.panel {
  border: 1px solid $border-color;
  font-size: 13px;
  line-height: 20px;
  color: #263140;
  font-family: November Regular, sans-serif;
  border-radius: 4px;
  background: #fff;
}

.panel__table-header {
  font-family: November Medium, sans-serif;
  font-size: 14px;
  line-height: 20px;
  background: #f2f6fa;
  border-bottom: 1px solid $border-color;
  border-radius: 4px 4px 0 0;
}

.panel__table-header,
.panel__row,
.panel__row-description,
.panel__header {
  padding: 0 $panel__side-padding;

  @include max-width(567px) {
    padding: 0 $panel__side-small-padding;
  }
}

.panel__table-header {
  display: flex;
  height: 50px;

  @include max-width(576px) {
    display: none;
  }
}

.panel__row {
  display: flex;
  height: 50px;

  @include max-width(576px) {
    flex-direction: column;
    height: auto;
    padding: $panel__side-small-padding;
  }
}

.panel__column {
  display: inline-flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 20px;

    @include max-width(576px) {
      margin-right: 5px;
    }
  }
}

.panel__column--title {
  width: 52%;

  @include max-width(576px) {
    min-width: 100%;
    margin-bottom: 5px;

    &:before {
      content: 'Episode Title:';
      width: 80px;
      min-width: 80px;
      font-size: 11px;
    }
  }
}

.panel__column--release {
  width: 19%;

  @include max-width(576px) {
    min-width: 100%;

    &:before {
      content: 'Released on:';
      width: 80px;
      min-width: 80px;
      font-size: 11px;
    }
  }
}

.panel__column--status {
  width: 29%;
  min-width: 137px;

  @include max-width(576px) {
    min-width: 100%;
    width: 100%;

    &:before {
      content: 'Publish Status:';
      width: 80px;
      min-width: 80px;
      font-size: 11px;
    }
  }

  .svg-info {
    margin-right: 5px;
  }

  @include max-width(576px) {
    min-width: 0;
  }
}

.panel__row,
.panel__row-description {
  &:not(:last-child):not(:nth-last-child(2)) {
    border-bottom: 1px solid $border-color;
  }
}

.panel__row--expanded {
  background: $bg-color;

  &:not(:last-child) {
    border-bottom-color: transparent;
  }
}

.panel__expand-row-btn {
  margin-left: auto;
}

.panel__row-description {
  background: $bg-color;

  &:last-child {
    border-radius: 0 0 4px 4px;
  }
}

.panel__episode-description {
  color: #6b7e99;
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 25px;
}

.panel__header {
  background: #fff;
  height: 59px;
  display: flex;
  align-items: center;
  border-radius: 4px;

  .panel--collapse-in & {
    border-radius: 4px 4px 0 0;
    background: $bg-color;
  }
}

.panel__title {
  font-size: 18px;
  margin: 0;
  font-family: November Regular, sans-serif;
  color: #2e3b4d;

  @include max-width(567px) {
    font-size: 16px;
  }
}

.panel__collapse-btn {
  margin-left: auto;
}

.panel--collapse {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.panel__title-hint {
  margin-left: 15px;

  @include max-width(567px) {
    font-size: 11px;
    margin-left: 10px;
  }
}

.panel__collapse-btn {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background: #adbacc;

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 2px;
    margin-top: -1px;
    margin-left: -5px;
    border-radius: 1px;
    background: #fff;
  }

  &.collapsed:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 10px;
    margin-left: -1px;
    margin-top: -5px;
    border-radius: 1px;
    background: #fff;
  }

  &:hover {
    background: darken(#adbacc, 10%);
  }
}

.panel__body {
  padding: 25px $panel__side-padding;
  font-family: November Regular, sans-serif;
  font-size: 14px;

  @include max-width(567px) {
    padding-left: $panel__side-small-padding;
    padding-right: $panel__side-small-padding;
  }
}
å
.panel__section {
 padding-bottom: 30px;
 border-bottom: 1px solid #dae1eb;
 margin-bottom: 24px;
}

.panel__block {
  padding: 15px;
  border-radius: 3px;
  background: #f2f6fa;
}
