.podcast-details {
  margin-bottom: 39px;
}

.podcast-details__main {
  display: flex;
  margin-bottom: 10px;

  @include max-width(576px) {
    flex-direction: column;
  }

  @include max-width(715px) {
    flex-direction: row;
  }

  @include max-width(768px) {
    flex-direction: column;
  }
}

.podcast-details__img-block {
  margin-right: 20px;

  @include max-width(576px) {
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 15px;
  }

  @include max-width(715px) {
    margin-right: 20px;
  }

  @include max-width(768px) {
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
}

.podcast-details__img {
  display: block;
}

.podcast-details__body {
  display: flex;
  flex-direction: column;
}

.podcast-details__text {
  font-size: 15px;
  line-height: 25px;
  color: $black;
  font-family: November Regular, sans-serif;
  margin: 0 0 15px;
}

.podcast-details__controls {
  background: #fff;
  height: 50px;
  border: 1px solid $border-color;
  border-radius: 4px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.podcast-details__message {
  font-size: 13px;
  font-family: November Regular, sans-serif;
  margin: 0;
  color: #263140;
  display: inline-flex;
  margin-right: 10px;
}

.podcast-details__footer {
  display: flex;
  justify-content: space-between;
}

.podcast-details__tooltip {
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
}
