.podcast {
  //background: #fff;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #b8c0cc;
  padding: 20px;
  margin: 10px 0 20px;

  .bootstrap-switch {
    width: 65px;
    height: 30px;
    border-radius: 20px;
    padding: 0 6px;
    border: 0;

    .bootstrap-switch-handle-off,
    .bootstrap-switch-handle-on {
      background: transparent;
      line-height: 30px;
      padding: 0 6px;
      font-family: November Regular, sans-serif;
      font-size: 13px;
      color: #ffffff;
      display: inline-flex;
    }

    .bootstrap-switch-label {
      height: 18px;
      align-self: center;
      flex: 0 0 18px;
      border-radius: 50%;
      background-color: #ffffff;
      box-shadow: 0 1px 3px 0 rgba(38, 47, 64, 0.15);
    }

    &.bootstrap-switch-on {
      background-color: $blue-active;
    }

    &.bootstrap-switch-off {
      background-color: #b8c0cc;
    }

    .bootstrap-switch-label {
      width: 18px;
      height: 18px;
      background-color: #ffffff;
      box-shadow: 0 1px 3px 0 #262e40;
    }

    .bootstrap-switch-container {
      display: flex;
      height: 100%;
    }
  }

  @include max-width(960px) {
    padding-left: 15px;
  }
}

.podcast__image {
  margin: 0;
  padding: 0;

  @include max-width(768px) {
    text-align: center;
  }
}

.podcast__content {
  padding: 0 20px 0 15px;

  @include max-width(576px){
    padding: 0;
  }
}

.podcast__title {
  margin-bottom: 6px;
  margin-top: 9px;
  font-family: November Regular, sans-serif;
  font-size: 18px;
  line-height: 1.67;
  text-align: left;
  color: #2e3a4c;
  text-decoration: none;
  display: block;

  &:hover {
    color: $blue-active;
  }
}

.podcast__text {
  margin-bottom: 15px;
  margin-top: 6px;
  font-family: November Regular, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #596980;

  a {
    color: $blue-active;
    display: inline-block;
    text-decoration: none;

    &:before {
      content: "…";
      font-family: November Regular, sans-serif;
      font-size: 14px;
      line-height: 1.43;
      text-align: left;
      color: #596980;
      text-decoration: none;
    }
  }

  .collapse.show {
    display: inline;
  }

  .collapse.show + a {
    display: none;
  }
}

.podcast__episodes {
  border-radius: 3px;
  background-color: #f3f6fa;
  font-family: November Regular, sans-serif;
  font-size: 13px;
  line-height: 1.54;
  display: inline-block;
  color: #6b7e99;
  padding: 6px 9px 4px 10px;
  margin-bottom: 0;
}

.podcast__trigers {
  margin-top: 38px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-left: 65px;
  user-select: none;
  padding-right: 0;
  min-width: 266px;

  label {
    font-family: November Regular, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    text-align: left;
    color: #263140;
    margin-right: 10px;
  }

  .dropdown {
    display: flex;
    align-items: center;
    margin-left: 40px;

    @include max-width(960px) {
      margin-left: auto;
    }
  }

  @include max-width(960px) {
    margin-left: 15px;
  }

  @include max-width(768px) {
    padding-left: 0;
    margin-left: 15px;
    padding-right: 15px;
  }

  @include max-width(576px) {
    padding-left: 0;
    margin-left: 0;
  }
}
