.steps-trail {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  max-width: $content-single-width;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 6;
  height: $header-height;

  @include max-width(1200px) {
    justify-content: center;
  }

  @include min-width(1025px) {
    .main & {
      display: none;
    }
  }

  @include max-width(1024px) {
    position: relative;
    margin-bottom: 20px;
    margin-top: -30px;
    z-index: 0;

    .navbar--steps & {
      display: none;
    }
  }
}

.steps-trail__item {
  font-size: 14px;
  line-height: 20px;
  color: #3d4e66;
  position: relative;
  padding-left: 29px;
  display: inline-flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 90px;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 100%;
      margin-left: 20px;
      margin-top: -1px;
      height: 2px;
      width: 60px;
      border-radius: 1px;

      @include max-width(767px) {
        width: 20px;
        margin-left: 10px;
      }

      @include max-width(567px) {
        width: 10px;
        margin-left: 5px;
      }
    }

    @include max-width(767px) {
      margin-right: 41px;
    }

    @include max-width(567px) {
      margin-right: 22px;
    }
  }

  @include max-width(767px) {
    font-size: 13px;
  }

  @include max-width(567px) {
    padding-left: 25px;
  }
}

.steps-trail__item--complete {
  color: #6b7e99;

  &:after {
    background: $success;
  }
}

.steps-trail__item--current {
  color: #2e3b4d;

  &:after {
    background: #cad0d9;
  }
}

.steps-trail__item--complete:before {
  content: '';
  background: $success url('../img/check-white.svg') center no-repeat;
  background-size: 11px 8px;
}

.steps-trail__item--complete:before,
.steps-trail__item-order {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -12px;

  @include max-width(767px) {
    width: 20px;
    height: 20px;
    margin-top: -10px;
  }
}

.steps-trail__item-order {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: #6b7e99;
  background: #f2f6fa;
  border: 1px solid #cad0d9;
  font-family: November Regular, sans-serif;

  .steps-trail__item--complete & {
    display: none;
  }

  .steps-trail__item--current & {
    background: $blue-active;
    color: #fff;
    border: 0;
  }

  @include max-width(767px) {
    font-size: 12px;
  }
}
