{% import "../templates/mixins.njk" as mixins %}

<nav class="navbar navbar-expand-md fixed-top header">
  <div class="navbar-header">
    <a class="navbar-brand" href="index.html">Podmaster</a>
    <button type="button" class="navbar-toggle btn btn-defult" data-toggle="collapse" data-target="#myNavbar">
      ☰
    </button>
  </div>

  <ul class="steps-trail">
    <li class="steps-trail__item steps-trail__item--complete">
      <span class="steps-trail__item-order">1</span>
      Create an account
    </li>
    <li class="steps-trail__item steps-trail__item--current">
      <span class="steps-trail__item-order">2</span>
      Import Podcast
    </li>
    <li class="steps-trail__item">
      <span class="steps-trail__item-order">3</span>
      Publish Settings
    </li>
  </ul>

  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="navbar-nav nav-profile ml-auto">
      <li>
        <a href="#" class="profile-dropdown" data-toggle="dropdown">
          <img src="http://placehold.it/40x40" class="profile-dropdown__img img-circle ml10" alt="user" title="user">
          <span class="profile-dropdown__name">Alice Houston</span>
          <i class="fa fa-chevron-down profile-dropdown__arrow"></i></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right"></ul>
      </li>
    </ul>
  </div>
</nav>
