{% import "../templates/mixins.njk" as mixins %}

<nav class="navbar navbar-expand-md fixed-top header">
  <div class="navbar-header">
    <a class="navbar-brand" href="index.html">Podmaster</a>
    <button type="button" class="navbar-toggle btn btn-defult" data-toggle="collapse" data-target="#myNavbar">
      ☰
    </button>
  </div>

  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="#">Dashboard</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">My Podcasts</a>
      </li>
    </ul>

    <ul class="navbar-nav nav-profile ml-auto">
      <li>
        <button class="btn btn--green">Add Podcast</button>
      </li>
      <li>
        <a href="#" data-toggle="dropdown" class="notification notification--active">
          {{mixins.svg('bell')}}
        </a>
        <ul class="dropdown-menu dropdown-menu-right  notifications"></ul>
      </li>
      <li>
        <a href="#" class="profile-dropdown" data-toggle="dropdown">
          <img src="http://placehold.it/40x40" class="profile-dropdown__img img-circle ml10" alt="user" title="user">
          <span class="profile-dropdown__name">Alice Houston</span>
          <i class="fa fa-chevron-down profile-dropdown__arrow"></i></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>Menu item</li>
          <li>Menu item</li>
          <li>Menu item</li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
