<ul class="steps-trail">
  <li class="steps-trail__item steps-trail__item--complete">
    <span class="steps-trail__item-order">1</span>
    Create an account
  </li>
  <li class="steps-trail__item steps-trail__item--current">
    <span class="steps-trail__item-order">2</span>
    Import Podcast
  </li>
  <li class="steps-trail__item">
    <span class="steps-trail__item-order">3</span>
    Publish Settings
  </li>
</ul>
