body {
  padding-top: $header-height;
  background-color: $bg-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section-title {
  font-family: November Regular, sans-serif;
  font-size: 24px;
  line-height: 1.67;
  text-align: left;
  color: #262e40;
  margin: 0 0 18px;
}

.section-sub-title {
  font-family: November Regular, sans-serif;
  font-size: 17px;
  line-height: 30px;
  margin: 0 0 11px;
  color: #2e3b4d;
}

time {
  color: #6b7e99;
}

.hint {
  font-size: 13px;
  font-family: November Light, sans-serif;
  color: #6b7e99;
}

.help-block {
  position: relative;
  padding-left: 20px;

  svg {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.switch-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
