@import "font-awesome.scss";

@font-face {
  font-family: "November Hairline";
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002047-e68ef6cdfdadea81d844e2487e659922.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002047-e68ef6cdfdadea81d844e2487e659922.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002047-e68ef6cdfdadea81d844e2487e659922.woff2")
      format("woff2"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002047-e68ef6cdfdadea81d844e2487e659922.woff")
      format("woff"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002047-e68ef6cdfdadea81d844e2487e659922.svg#Typotheque_webfonts_service")
      format("svg");
}

@font-face {
  font-family: "November Hairline Italic";
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002048-48e314c1de75bac6ac0d86297ab52f13.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002048-48e314c1de75bac6ac0d86297ab52f13.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002048-48e314c1de75bac6ac0d86297ab52f13.woff2")
      format("woff2"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002048-48e314c1de75bac6ac0d86297ab52f13.woff")
      format("woff"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002048-48e314c1de75bac6ac0d86297ab52f13.svg#Typotheque_webfonts_service")
      format("svg");
}

@font-face {
  font-family: "November Thin";
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002049-41ef39b82d30458057a3e3a19e2ecf41.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002049-41ef39b82d30458057a3e3a19e2ecf41.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002049-41ef39b82d30458057a3e3a19e2ecf41.woff2")
      format("woff2"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002049-41ef39b82d30458057a3e3a19e2ecf41.woff")
      format("woff"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002049-41ef39b82d30458057a3e3a19e2ecf41.svg#Typotheque_webfonts_service")
      format("svg");
}

@font-face {
  font-family: "November Thin Italic";
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002050-8bc8241c0c924432bfcd9d3d41cd79a3.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002050-8bc8241c0c924432bfcd9d3d41cd79a3.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002050-8bc8241c0c924432bfcd9d3d41cd79a3.woff2")
      format("woff2"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002050-8bc8241c0c924432bfcd9d3d41cd79a3.woff")
      format("woff"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002050-8bc8241c0c924432bfcd9d3d41cd79a3.svg#Typotheque_webfonts_service")
      format("svg");
}

@font-face {
  font-family: "November ExtraLight";
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002051-47c6ea29cd97bf1e9287480d19b5eeac.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002051-47c6ea29cd97bf1e9287480d19b5eeac.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002051-47c6ea29cd97bf1e9287480d19b5eeac.woff2")
      format("woff2"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002051-47c6ea29cd97bf1e9287480d19b5eeac.woff")
      format("woff"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002051-47c6ea29cd97bf1e9287480d19b5eeac.svg#Typotheque_webfonts_service")
      format("svg");
}

@font-face {
  font-family: "November ExtraLight Italic";
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002052-5ca95fd0cae294d43d91346010322b7b.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002052-5ca95fd0cae294d43d91346010322b7b.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002052-5ca95fd0cae294d43d91346010322b7b.woff2")
      format("woff2"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002052-5ca95fd0cae294d43d91346010322b7b.woff")
      format("woff"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002052-5ca95fd0cae294d43d91346010322b7b.svg#Typotheque_webfonts_service")
      format("svg");
}

@font-face {
  font-family: "November Light";
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002053-5cf3c0c14e9133f6b38f9e09498f828e.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002053-5cf3c0c14e9133f6b38f9e09498f828e.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002053-5cf3c0c14e9133f6b38f9e09498f828e.woff2")
      format("woff2"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002053-5cf3c0c14e9133f6b38f9e09498f828e.woff")
      format("woff"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002053-5cf3c0c14e9133f6b38f9e09498f828e.svg#Typotheque_webfonts_service")
      format("svg");
}

@font-face {
  font-family: "November Light Italic";
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002054-e3f7fb855ce8604d00f9113f51fb3197.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002054-e3f7fb855ce8604d00f9113f51fb3197.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002054-e3f7fb855ce8604d00f9113f51fb3197.woff2")
      format("woff2"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002054-e3f7fb855ce8604d00f9113f51fb3197.woff")
      format("woff"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002054-e3f7fb855ce8604d00f9113f51fb3197.svg#Typotheque_webfonts_service")
      format("svg");
}

@font-face {
  font-family: "November Regular";
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002055-bdd0f25306950d23b3258de391fdb6d5.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002055-bdd0f25306950d23b3258de391fdb6d5.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002055-bdd0f25306950d23b3258de391fdb6d5.woff2")
      format("woff2"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002055-bdd0f25306950d23b3258de391fdb6d5.woff")
      format("woff"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002055-bdd0f25306950d23b3258de391fdb6d5.svg#Typotheque_webfonts_service")
      format("svg");
}

@font-face {
  font-family: "November Regular Italic";
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002056-9375f75ac60d62c2c95a28544bbc0048.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002056-9375f75ac60d62c2c95a28544bbc0048.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002056-9375f75ac60d62c2c95a28544bbc0048.woff2")
      format("woff2"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002056-9375f75ac60d62c2c95a28544bbc0048.woff")
      format("woff"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002056-9375f75ac60d62c2c95a28544bbc0048.svg#Typotheque_webfonts_service")
      format("svg");
}

@font-face {
  font-family: "November Medium";
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002057-1b7f8ec7cc6c46a47d7c072428eb92ca.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002057-1b7f8ec7cc6c46a47d7c072428eb92ca.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002057-1b7f8ec7cc6c46a47d7c072428eb92ca.woff2")
      format("woff2"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002057-1b7f8ec7cc6c46a47d7c072428eb92ca.woff")
      format("woff"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002057-1b7f8ec7cc6c46a47d7c072428eb92ca.svg#Typotheque_webfonts_service")
      format("svg");
}

@font-face {
  font-family: "November Medium Italic";
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002058-79e04eb68f0f1fd43ecca05873acf45c.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002058-79e04eb68f0f1fd43ecca05873acf45c.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002058-79e04eb68f0f1fd43ecca05873acf45c.woff2")
      format("woff2"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002058-79e04eb68f0f1fd43ecca05873acf45c.woff")
      format("woff"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002058-79e04eb68f0f1fd43ecca05873acf45c.svg#Typotheque_webfonts_service")
      format("svg");
}

@font-face {
  font-family: "November Bold";
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002059-ac5727173e53499d80e73bdae07bc050.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002059-ac5727173e53499d80e73bdae07bc050.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002059-ac5727173e53499d80e73bdae07bc050.woff2")
      format("woff2"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002059-ac5727173e53499d80e73bdae07bc050.woff")
      format("woff"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002059-ac5727173e53499d80e73bdae07bc050.svg#Typotheque_webfonts_service")
      format("svg");
}

@font-face {
  font-family: "November Bold Italic";
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002060-e112b36a8ee680366928e3b9a40f789f.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002060-e112b36a8ee680366928e3b9a40f789f.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002060-e112b36a8ee680366928e3b9a40f789f.woff2")
      format("woff2"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002060-e112b36a8ee680366928e3b9a40f789f.woff")
      format("woff"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002060-e112b36a8ee680366928e3b9a40f789f.svg#Typotheque_webfonts_service")
      format("svg");
}

@font-face {
  font-family: "November Black";
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002061-7042975af5be735548e02ad66ca15173.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002061-7042975af5be735548e02ad66ca15173.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002061-7042975af5be735548e02ad66ca15173.woff2")
      format("woff2"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002061-7042975af5be735548e02ad66ca15173.woff")
      format("woff"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002061-7042975af5be735548e02ad66ca15173.svg#Typotheque_webfonts_service")
      format("svg");
}

@font-face {
  font-family: "November Black Italic";
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002062-d92717cb8c071e2d502d05655e7c860b.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002062-d92717cb8c071e2d502d05655e7c860b.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002062-d92717cb8c071e2d502d05655e7c860b.woff2")
      format("woff2"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002062-d92717cb8c071e2d502d05655e7c860b.woff")
      format("woff"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002062-d92717cb8c071e2d502d05655e7c860b.svg#Typotheque_webfonts_service")
      format("svg");
}

@font-face {
  font-family: "November Heavy";
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002073-6fb03bda85b7d7773c82e61643cee359.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002073-6fb03bda85b7d7773c82e61643cee359.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002073-6fb03bda85b7d7773c82e61643cee359.woff2")
      format("woff2"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002073-6fb03bda85b7d7773c82e61643cee359.woff")
      format("woff"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002073-6fb03bda85b7d7773c82e61643cee359.svg#Typotheque_webfonts_service")
      format("svg");
}

@font-face {
  font-family: "November Heavy Italic";
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002074-d6eb11b944f3247e9136157be7b8fdba.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002074-d6eb11b944f3247e9136157be7b8fdba.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002074-d6eb11b944f3247e9136157be7b8fdba.woff2")
      format("woff2"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002074-d6eb11b944f3247e9136157be7b8fdba.woff")
      format("woff"),
    url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-009534-002074-d6eb11b944f3247e9136157be7b8fdba.svg#Typotheque_webfonts_service")
      format("svg");
}

$background: #f8fafd;
$primery: #1951ff;
$primary-disactive: #b8c0cc;
$main-content: #263140;
$main-bell: #8f9eb3;
$content: #596980;
$span-background: #f3f6fa;
$danger: #f05454;
$success: #00d96c;
$border: #d5dbe6;

$header-height: 70px;

body {
  padding-top: $header-height;
  background-color: #f8fafd;
}

.header {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 #f3f6fa, inset 0 -1px 0 0 #e6e9ee;
  padding: 0;
  align-items: stretch;

  @media screen and (max-width: 768px) {
    .navbar-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .navbar-collapse {
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .nav-profile {
      align-items: center;
    }
  }

  .navbar-brand {
    width: 180px;
    height: $header-height;
    font-family: November Bold;
    background-color: #3647b4;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 1px;
    color: #ffffff;
    text-align: center;
    line-height: $header-height;
    padding: 0;
    margin-right: 0;
    text-transform: uppercase;
  }

  .navbar-collapse {
    align-items: stretch;

    .nav-link {
      background-color: #ffffff;
      border-right: 1px solid #e6e9ee;
      font-family: November Regular;
      font-size: 14px;
      line-height: $header-height;
      color: #3d4e66;
      padding: 0 20px;

      @media screen and (max-width: 960px) {
        padding: 0 10px;
      }

      @media screen and (max-width: 768px) {
        border-right: none;
      }
    }

    .active .nav-link {
      -webkit-box-shadow: inset 0 -3px 0 0 #1951ff;
      box-shadow: inset 0 -3px 0 0 #1951ff;

      @media screen and (max-width: 768px) {
        box-shadow: none;
      }
    }

    @media screen and (max-width: 768px) {
      padding: 10px 0;
    }
  }

  .navbar-toggle {
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
      margin-right: 15px;
    }
  }

  .nav-profile li {
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-right: 1px solid #e6e9ee;
    position: relative;

    .btn-success {
      font-family: November Bold;
      font-size: 14px;
      line-height: 1.43;
      text-align: left;
      color: #ffffff;
      border-radius: 4px;
      background-color: #00d96c;
      border: 0;
      padding: 10px 20px;
      box-shadow: none;
      outline: 0;
    }

    .profile {
      text-decoration: none;
      color: #3d4e66;

      img {
        border-radius: 50%;
      }

      span {
        font-family: November Regular;
        font-size: 14px;
        line-height: 1.43;
        text-align: left;
        margin-left: 10px;
      }
    }

    @media screen and (max-width: 960px) {
      padding: 0 10px;
    }

    @media screen and (max-width: 768px) {
      border-right: none;
      padding: 10px;
    }
  }
}

.podcasts {
  padding-top: 34px;
  padding-bottom: 240px;
  max-width: 1110px;
  width: 100%;

  h2 {
    font-family: November Bold;
    font-size: 24px;
    line-height: 1.67;
    text-align: left;
    color: #262e40;
    margin: 18px 0;
  }

  .podcast {
    background: #fff;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #b8c0cc;
    padding: 20px;
    margin: 10px 0 20px;

    .podcast-image {
      margin: 0;
      padding: 0;

      @media (max-width: 768px) {
        text-align: center;
      }
    }

    .podcast-content {
      padding: 0;
      padding-left: 20px;
      padding-right: 15px;
    }

    .podcast-title {
      margin-bottom: 6px;
      margin-top: 9px;
      font-family: November Medium;
      font-size: 18px;
      line-height: 1.67;
      text-align: left;
      color: #2e3a4c;
      text-decoration: none;
      display: block;

      &:hover {
        color: #1951ff;
      }
    }

    .podcast-text {
      margin-bottom: 15px;
      margin-top: 6px;
      font-family: November Regular;
      font-size: 14px;
      line-height: 1.43;
      text-align: left;
      color: #596980;

      a {
        color: #1951ff;
        display: inline-block;
        text-decoration: none;

        &:before {
          content: "…";
          font-family: November Regular;
          font-size: 14px;
          line-height: 1.43;
          text-align: left;
          color: #596980;
          text-decoration: none;
        }
      }

      .collapse.show {
        display: inline;
      }

      .collapse.show + a {
        display: none;
      }
    }

    .podcast-episodes {
      border-radius: 3px;
      background-color: #f3f6fa;
      font-family: November Regular;
      font-size: 13px;
      line-height: 1.54;
      display: inline-block;
      color: #6b7e99;
      padding: 6px 9px 4px 10px;
      margin-bottom: 0;
    }

    .bootstrap-switch {
      width: 65px;
      height: 30px;
      border-radius: 20px;
      padding: 0 6px;
      border: 0;

      .bootstrap-switch-handle-off,
      .bootstrap-switch-handle-on {
        background: transparent;
        line-height: 30px;
        padding: 0 6px;
        font-family: November Bold;
        font-size: 13px;
        color: #ffffff;
        display: inline-flex;
      }

      .bootstrap-switch-label {
        height: 18px;
        align-self: center;
        flex: 0 0 18px;
        border-radius: 50%;
        background-color: #ffffff;
        box-shadow: 0 1px 3px 0 rgba(38, 47, 64, 0.15);
      }

      &.bootstrap-switch-on {
        background-color: #1951ff;
      }

      &.bootstrap-switch-off {
        background-color: #b8c0cc;
      }

      .bootstrap-switch-label {
        width: 18px;
        height: 18px;
        background-color: #ffffff;
        box-shadow: 0 1px 3px 0 #262e40;
      }

      .bootstrap-switch-container {
        display: flex;
        height: 100%;
      }
    }

    .podcast-trigers {
      margin-top: 40px;
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      padding-left: 53px;
      user-select: none;

      label {
        font-family: November Medium;
        font-size: 14px;
        line-height: 1.43;
        text-align: left;
        color: #263140;
        margin-right: 10px;
      }

      .dropdown {
        .dropdown-menu {
          padding: 0;
          margin-top: 10px;
        }

        .dropdown-toggle {
          font-family: November Regular;
          font-size: 13px;
          line-height: 1.54;
          text-align: left;
          color: #6b7e99;
          cursor: pointer;
        }

        .dropdown-item {
          padding: 10px 20px;
          font-family: November Regular;
          font-size: 14px;
          line-height: 1.43;
          text-align: left;
          color: #3d4e66;
          width: 198px;

          &:hover {
            background-color: #f5f7fa;
            box-shadow: inset 0 1px 0 0 #e6e9ee, inset 0 -1px 0 0 #e6e9ee;
          }
        }
      }

      @media screen and (max-width: 960px) {
        padding-left: 15px;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .podcasts .podcast {
    padding-left: 15px;
  }
}
