$background: #f8fafd;
$primery: #1951ff;
$primary-disactive: #b8c0cc;
$main-content: #263140;
$main-bell: #8f9eb3;
$content: #596980;
$span-background: #f3f6fa;
$danger: #f05454;
$green: #00d96c;
$border: #d5dbe6;
